
h1 {
    font-size: 5.5em;
    color: blue;
    margin-bottom: 10px;
  }
  .heart {
    color: #000000; /* Vermelho intenso */
    font-size: 3em;
    animation: heartBeat 2s infinite;
  }
  
  .love-topic {
    color: #00ff88; /* Vermelho intenso */
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  p {
    font-size: 1.3em;
    color: #00ff88;
    line-height: 1.8em;
    margin-bottom: 15px;
  }
  footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(to right, #f2fe49, #ff6b6b); /* Gradiente vermelho intenso */
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff; /* Texto branco */
  }